<div class="panel panel-default">
  <div class="panel-body">
    <span>Search: </span>
    <!--<span -->
    <select class="input-sm" [(ngModel)]="categories[0]" (change)="categoryChanged($event.target.value)">      
      <option value="">All</option>
      <option *ngFor="let cat of categories" value="{{cat}}">{{cat}}</option>
    </select>
    <input type="text" class="input-sm" placeholder="Location">
    <input type="number" class="input-sm" placeholder="Min Fee" (keyup)="minFeeChanged($event.target.value)">
  </div>
</div>
<div class="row">
  <div class="col-sm-7">
    <div *ngIf="posts">
      <div *ngFor="let post of posts">  
        <h3><a (click)="viewPost(post._id)">{{post.title}}</a></h3>
          <p><span *ngIf="post.category">{{post.category}} </span>
          <span *ngIf="post.address"> <span *ngIf="post.address.city">{{post.address.city}}</span> - <span *ngIf="post.address.hourlyFee">{{post.hourlyFee}}</span> </span> 
          <!--<span *ngIf="post.duration"> - {{post.duration}} </span></p>-->
          <p><span *ngIf="post.createdOn">Posted On:{{post.createdOn}} </span>
          <p>
            {{post.description}}
          </p>
          <a (click)="viewPost(post._id)">...more</a>
          <p>Submitted applications (<span *ngIf="post.waitingList">{{post.waitingList.length}}</span>)</p>
          <p>Client: {{post.createdBy}} <span>***</span>
          <hr>
      </div>
    </div>
  </div>
  <div class="col-sm-3 panel currentPost">
    <div *ngIf="currentPost">
      <h4>{{currentPost.title}}</h4>
      <p><i>Posted by: </i>{{currentPost.createdBy}}</p>
      <p><i>Posted on: </i>{{currentPost.createdOn | date}}</p>
      <p><i>Category: </i>{{currentPost.category}}</p>
      <p><i>Duration: </i><span *ngIf="currentPost.duration">{{currentPost.duration.value}} {{currentPost.duration.unit}}</span></p>
      <p><i>Hourly Fee: </i>{{currentPost.hourlyFee}}</p>
      <p><i>Preferred Date: </i>{{currentPost.preferredDate}}, {{currentPost.preferredTime}}</p>
      <div>
        <p>{{currentPost.description}}</p>
      </div>
      <p><i>Address: </i><span *ngIf="currentPost.address">{{currentPost.address.city}}, {{currentPost.address.state}}, {{currentPost.address.zipcode}}</span></p>
      <p><i>Total Applicants: </i><span *ngIf="currentPost.waitingList">{{currentPost.waitingList.length}}</span></p>
      <a class="btn btn-primary" (click)="apply(currentPost._id)">APPLY</a>
    </div>
  </div>
</div>
