<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>
<div class="container">

  <div class="col-xs-6 col-xs-offset-3 jumbotron">
    <div class="row">
      <form [formGroup]="myForm" (ngSubmit)="onsubmit()">
        <div class="form-group">
          <label for="username" >Name:</label>
          <input  type="text" class="form-control" id="username" [formControl]="myForm.controls['userName']"  [(ngModel)]="user.userName">
          <div  *ngIf="!myForm.controls['userName'].valid" class="text-danger">
            Name is required !!
          </div>
        </div>

        <div class="form-group">
          <label for="userEmail">Email address:</label>
          <input type="email" class="form-control" id="userEmail" [formControl]="myForm.controls['email']" [(ngModel)]="user.email">
          <div class="text-danger" *ngIf="!myForm.controls['email'].valid" >
            Email address is required !!
          </div>
        </div>
         <div class="form-group">
          <label for="userAddressStreet">Street</label>
          <input type="text" class="form-control" id="userAddressStreet" [formControl]="myForm.controls['street']" [(ngModel)]="user.address.street">
          <div class="text-danger" *ngIf="!myForm.controls['street'].valid" >
            Street not valid !!
          </div>
        </div>
         <div class="form-group">
          <label for="userAddressCity">City</label>
          <input type="text" class="form-control" id="userAddressCity" [formControl]="myForm.controls['city']" [(ngModel)]="user.address.city">
          <div class="text-danger" *ngIf="!myForm.controls['city'].valid" >
            City not valid !!
          </div>
        </div>
        <div class="form-group">
          <label for="userAddressState">State</label>
          <input type="text" class="form-control" id="userAddressState" [formControl]="myForm.controls['state']" [(ngModel)]="user.address.state">
          <div class="text-danger" *ngIf="!myForm.controls['state'].valid" >
            state not valid !!
          </div>
        </div>
        <div class="form-group">
          <label for="userAddressZipcode">Zipcode</label>
          <input type="Number" class="form-control" id="userAddressZipcode" [formControl]="myForm.controls['zipcode']" [(ngModel)]="user.address.zipcode">
          <div class="text-danger" *ngIf="!myForm.controls['zipcode'].valid" >
            Zipcode not valid !!
          </div>
        </div>
         <div class="form-group">
          <label for="userAddressStreet">File Path</label>
          <input type="text" class="form-control" id="filePath" [formControl]="myForm.controls['picPath']" [(ngModel)]="user.picPath">
          <div class="text-danger" *ngIf="!myForm.controls['street'].valid" >
            Street not valid !!
          </div>
        </div>
         <div class="form-group">
          <label for="userEmail">Ratings:</label>
          <input type="text" class="form-control" id="userEmail" [formControl]="myForm.controls['rating']" [(ngModel)]="user.rating">
          
        </div>
      
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid"> Submit</button>
        <!-- <button class="btn " (click)="consoleLoadedData()">GetData</button> -->
      </form>
    </div>
  </div>
</div>
</body>
</html>



