
  <div class="panel">
    <h1>My Current Activities</h1>
  </div>

<div>
  <div *ngIf="userJobActivity">
    <div *ngFor="let jobs of userJobActivity">
      <h3>{{jobs.title}}</h3>
      <p><span *ngIf="jobs.category">{{jobs.category}} </span>
        <span *ngIf="jobs.address"> {{jobs.address.city}} - {{jobs.address.state}} </span>
        <span *ngIf="jobs.duration"> - {{jobs.duration}} </span></p>
      <p>
        {{jobs.description}}
      </p>
      <a>...more</a>
      <p>Submitted applications (<span *ngIf="jobs.waitingList">{{jobs.waitingList.length}}</span>)</p>
      <p>Client: {{jobs.createdBy}} <span>***</span>
        <hr>
    </div>
  </div>
</div>

<div>
  <div *ngIf="userPostActivity">
    <div *ngFor="let post of userPostActivity">
      <h3>{{post.title}}</h3>
      <p><span *ngIf="post.category">{{post.category}} </span>
        <span *ngIf="post.address"> {{post.address.city}} - {{post.address.state}} </span>
        <span *ngIf="post.duration"> - {{post.duration}} </span></p>
      <p>
        {{post.description}}
      </p>
      <a>...more</a>
      <p>Submitted applications (<span *ngIf="post.waitingList">{{post.waitingList.length}}</span>)</p>
      <p>Client: {{post.createdBy}} <span>***</span>
        <hr>
    </div>
  </div>
</div>