<h3>
  Job Applications
</h3>
<div *ngIf="posts; else noPosts">
  <div *ngFor="let post of posts"> 
    <div class="clearfix">
      <h3 class="pull-left">{{post.title}}</h3>
      <!--<p class="pull-right">{{post.waitingList}}</p>-->
    </div> 
      <p><span *ngIf="post.category">{{post.category}} </span>
      <span *ngIf="post.address"> {{post.address.city}} - {{post.address.state}} </span> 
      <span *ngIf="post.duration"> - {{post.duration}} </span></p>
      <p>
        {{post.description}}
      </p>
      <a>...more</a>
      <p>Submitted applications (<span *ngIf="post.waitingList">{{post.waitingList.length}}</span>)</p>
      <p>Client: {{post.createdBy}} <span>***</span>
      <hr>
  </div>
</div>
<ng-template #noPosts>
  <p><i>You have 0 job applications</i></p>
</ng-template>