@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: rgb(76, 59, 86);
}
.wrapper{
    background-color: #fff;
}
.menu{
    margin: 0 -15px;
    border-radius: 0;
    background-color: rgb(47, 38, 53);
    border: inset 5px solid rgb(22, 13, 28);
}
.menu a{
    color: rgb(247, 116, 17)
}
a.active {
    color: #fff
}
.currentPost{
    position: fixed;
    right: 60px;
    background-color: rgb(76, 59, 86);
    color: #fff;
    border: 0;
    min-height: 0
}
.currentPost>div{
    padding: 10px
}